@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('./bootstrap.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");

*{
    font-family: 'Lato';
    /* font-size: 18px; */
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .2);
}

.wht100{
    color: rgba(255, 255, 255, 1);
}
.wht70{
    color: rgba(255, 255, 255, .7);
}
.wht50{
    color: rgba(255, 255, 255, .5);
}

.lt11{
    letter-spacing: 0.11em;
}
.lt8{
    letter-spacing: 0.08em;
}

.btnwht{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    letter-spacing: 0.11em;
    color: rgba(255, 255, 255, 1);
}

.btnwht:hover, .btnwht:focus{
    background: rgba(255, 255, 255, 0.7);
}

#navbarTitle:hover{
    color: rgba(255, 255, 255, .7);
    letter-spacing: 0.2em;
}


